.footer {
  // background-image: url('../../img/footer.jpg');
  object-fit: cover;
  color: $color_white;
  height: 200px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-family: monospace;
}

.section-footer {
  position: absolute;
  bottom: 0;
}

.container-icons {
  display: flex;
  align-items: center;
  align-self: center;
  justify-content: space-around;
  color: $color_white;
  line-height: 50px;
  width: 70%;
}
.size_big {
  font-size: 40px;
  color: $color_white;
}
.size_small {
  font-size: 19px;
  font-weight: 600;
}
@media (min-width: 760px) {
  .footer {
    color: $color_white;
    height: 250px;
  }
  .container-icons {
    line-height: 100px;
    width: 85%;
  }
  .size_big {
    font-size: 55px;
    color: $color_white;
  }
  .size_small {
    font-size: 24px;
    font-weight: bold;
  }
}
