#orderConteiner{
  height: 100%;
}

#Ficha1{
  background-image: url("../img/pedir_2.jpg");
  }

#Ficha2{
  background-image: url("../img/pedir_3.jpg");
  background-size: cover; 
}

#Ficha3{
  background-image: url("../img/pedir_1.jpg");
  background-size: cover; 
}