.header {
	align-items: center;
	background: #2D2D4A;
	color: #00AF46;
	display: flex;
	height: 150px;
	justify-content: space-between;
	top: 0px;
	width: 100%;
	border-bottom: 0.2em solid rgb(191,210,85) ;
}

.header__menu{
	display: flex;
	
}

.header_options{
	margin-right: 4em;
	text-decoration: none;
	list-style:none;
	align-self: center;

	
	
}

.header__img {
	margin-left: 30px;
	width: 200px;
}
.header__menu ul {
	width: 150px;
	&:hover{
		text-decoration: underline;
	}
	.name_user{
		margin-top: 23px;
		//position: absolute;
	}

}





.header__menu--profile {
	align-items: center;
	display: flex;
	cursor: pointer;
}
.header__menu--profile img {
	margin-right: 8px;
	width: 3em;
	//border-radius: 50%;
	object-fit: cover;
}
.header p{
	margin-left: 30px;
}