// Body
$body-bg: #fff;

// Typography
$font-family-sans-serif: 'Montserrat', sans-serif;
$font-family-roboto: 'Roboto', sans-serif;
$font-family-sans: 'IBM Plex Sans', sans-serif;
$font-family-mono: 'IBM Plex Mono', monospace;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
$enable-responsive-font-sizes: true;

// Colors
$blue: #50e3c2;
$indigo: #6574cd;
$purple: #572ee5;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$white: #fff;
$black: #000;
$dark-gray: #37383c;
$light-black: #222326;

//Custom

$color-success: #519958;
$color-warning: #cf8820;
$color-danger: #f44336;
$color-info: #232126;
$color-primary: #5e646c;

$color-secondary: #7d7e79;
$color-quaternary: #8c8d7b;
$color-light: #f2f0f0;

// Icons and Components
$place-holder: #9cafc3;
$gray-icons: #cdd6e0;
$color-navbar: #fff;

//frames
$width-container: 1200px;

//Footer
$color_white: rgb(158, 113, 94)